/* Para dispositivos móviles:
 */
/* Smartphones en orientación vertical y horizontal */
@media only screen and (max-width: 800px) {
    /* Estilos para dispositivos móviles */

    .search-tab-desktop

    /* quitar buscador desktop en movile */
        {

        display: none;


    }

    .car-top {
        display: none;
    }

#rev_slider_5_1_wrapper{
    display: none!important;
}

#text1, #text2{
    font-size:40px!important;
}

#container-letras{
padding: 10px;
height: 25vh!important;


}



.imagen-animada
{width: 50%!important;
    height: 50%!important;
    position: absolute!important;

}
.neumaticos{
      width: 350px
}

 .bg-17 {
    background-image: url(/images/bg/AirBrush_20240119163120.jpg);
    ;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover !important;
}  



#contenedor-imagenes{
    position: relative!important;
    display: flex;
    justify-content: center;
    align-items: center;
}


#roadventure{
    width: 80%!important;



}

.section-prestigio-at52{
    grid-template-columns: 1fr!important

}


.container-grid{

    grid-template-areas: 
    'caja1 caja1 caja1 caja1 '
    'caja3 caja3 caja2 caja2 '
    'caja3 caja3 caja2 caja2 '
    'caja5 caja5 caja5 caja5'
    'caja4 caja4 caja4 caja4';
    gap: 5px;
    margin-top: 10px;
  }
  
  .caja1{
    grid-area: caja1;
  width: auto; height: 200px;
  }
  .caja2{
    grid-area: caja2;
    width: auto; height: 200px;
  }
  .caja3{
    grid-area: caja3;width: auto; height: 200px;
  }
  .caja4{
    grid-area: caja4;width: auto; height: 200px;
  }
  .caja5{
    grid-area: caja5;width: auto; height: 200px;
  }
  
  












}
/* 
#header{
    position: fixed!important
   


}  */

/* #video-background{
    margin-top: 50px;
}

}
 */



/* Smartphones en orientación vertical */
@media only screen and (min-width: 400px)  and (max-width: 800px)  {
    /* Estilos adicionales para dispositivos móviles en orientación vertical */

#roadventure{


    
}




    .container-letra-1{
        display: flex!important;
        align-items: center!important;
    }
    
}







/* Para dispositivos de pantalla pequeña (como tablets):
 */
/* Tablets en orientación vertical y horizontal */
@media only screen and (min-width: 800px) and (max-width: 1024px) {


    .imagen-animada
{width: 100%!important;
    height: 100%!important;
    position: absolute!important;

}



#contenedor-imagenes{
    position: relative!important;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container_letras

{
    display: flex!important;
    justify-content: center!important;
align-items: center!important;



}


.container-letra-1{
    display: flex!important;
    align-items: center!important;
}

    /* Estilos para tablets */


    
    #text1, #text2{
        font-size:50px!important;
    }
  
    #roadventure{


    
    }
    
    

}



/* Para laptops y pantallas medianas:
 */
/* Laptops y pantallas medianas en orientación horizontal */
@media only screen and (min-width: 1025px) and (max-width: 1440px) {
    /* Estilos para laptops y pantallas medianas en orientación horizontal */


    

    #text1, #text2{
        font-size:50px!important;
    }




    .container-letra-1{
        display: flex!important;
        align-items: center!important;
    }
    
}




/* Para pantallas de escritorio:
 */

/* Pantallas de escritorio en orientación horizontal */
@media only screen and (min-width:800px) {
    /* Estilos para pantallas de escritorio en orientación horizontal */

    .search-tab-movile {
        display: none;

    }

    #video-background {
        margin-bottom: 10px;
    }

    .carousel-diseños-movile{
        display:none;
    }




}